@font-face {
    font-family: "머니그라피 Rounded";
    src: local("머니그라피 Rounded"), url("/path-to-font/머니그라피-Rounded.woff2") format("woff2");
}

body, button, h1, p, label, .alert {
    font-family: "머니그라피 Rounded", sans-serif;
}

body {
    margin: 20px;
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
}

.input-wrapper {
    position: relative;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: width 0.3s ease, height 0.3s ease;
}

.uploaded-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-label {
    display: block;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    width: 97.3%;
}

button {
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.result-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.result-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
